* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f3f1e7;
  color: #4a3c31;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.bg-light {
    background-color: #f7f3e8 !important;
}
.navbar-navs{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 0px;
}
.collapse ul{
    list-style-type: none;
}
.nav-link{
    color: #4a4836 !important;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    text-transform: capitalize;
    margin-top: 12px;
}
.navbar navbar-expand-lg{
    position: sticky;
    top: 0;
}

header h1 {
  font-size: 2.8rem;
  font-weight: 700;
  color: #6f4e37;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 4px solid #a9746e;
  padding-bottom: 10px;
}

.hero img {
  width: 100%;
  max-width: 800px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(111, 78, 55, 0.3);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.hero img:hover {
  transform: scale(1.03);
}

.address {
  margin-top: 30px;
  background-color: #fff8f0;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(111, 78, 55, 0.15);
  width: 100%;
  text-align: center;
}

.address h2 {
  font-size: 1.8rem;
  margin-bottom: 12px;
  color: #7b5a43;
}

.address p {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.maps {
  margin-top: 30px;
  background-color: #fff8f0;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(111, 78, 55, 0.15);
  width: 100%;
}

.maps iframe {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(111, 78, 55, 0.3);

}
